// Large add buttons to fit Joomla 3.x styling
.subhead .koowa-toolbar {
  .btn-success {
    width: 148px;
  }
}

// No font-size: 0 on the protostar template
.koowa-toolbar {
  font-size: inherit !important;
}

// Fix for breadcrums in templates
.breadcrumb {
  @include wrap_words();
}

.toolbar-list a.disabled, .toolbar-list .unauthorized span {
  color: gray;
  font-weight: normal;
}

.toolbar-list .disabled span, .toolbar-list .unauthorized span {
  background-position: bottom;
}

// Search empty button
.search__container {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;

  label {
    position: absolute;
    left: 2px;
    top: 4px;
    opacity: 0.75;
    margin: 0;
  }

  input,
  input[type="search"] {
    margin: 0;
    max-width: 250px;
    padding: 2px 2px 2px 17px;
    font-size: 11px;
  }

  &.search__container--has_empty_button input {
    padding-right: 22px;
  }

  .search_button--empty {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background: transparent;

    span {
      margin: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 16px;
      text-align: center;
      border-radius: 100%;
      color: #777;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, helvetica, sans-serif;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;

      span {
        background: #ea9393;
        border: 1px solid #ce4c4c;
        color: #fff;
        text-shadow: 1px 1px 1px #ce4c4c;
        @include box-shadow(inset 1px 2px 1px lighten(#ce4c4c, 10%));
      }
    }

  }
}


// Flash uploader holder for IE
.uploader-flash-container {
  display: none;
  display: block\9; // Only show the container on older IE browsers
}

// Spinner positioning
#spinner_container {
  position: relative;
  min-height: 100px;

  .spinner {
    position: absolute;
    top: 50px !important;
    left: 50% !important;
  }
}