// Header
.koowa_header {
  @include clearfix();
  margin: 0 0 $smallMargin;
  line-height: 1.25em;
  position: relative;
  display: table;
  width: 100%;
  @include wrap_words();
}

table .koowa_header {
  margin: 0;
  padding: 0;
}

.koowa_header__link {
  display: table-row;
}

.koowa_header__image {
  height: $iconSize;
}

.koowa_header__item {
  display: table-cell;
  vertical-align: middle;
  min-width: $iconSize;
  width: 99%;
}

.koowa_header__item--image_container {
  text-align: center;
  width: 1%;
  padding-right: 6px;
  font-size: 0;
  line-height: 0;
}

.koowa_header--bottom_margin {
  margin-bottom: $smallMargin;
}