// Loading the fonts
@font-face {
  font-family: 'koowa';
  src: url('#{$koowaPath}/fonts/koowa.eot');
  src: url('#{$koowaPath}/fonts/koowa.eot?#iefix') format('embedded-opentype'), url('#{$koowaPath}/fonts/koowa.ttf') format('truetype'), url('#{$koowaPath}/fonts/koowa.woff') format('woff'), url('#{$koowaPath}/fonts/koowa.svg#koowa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="koowa_icon--"],
[class*=" koowa_icon--"],
.koowa_icon_font /* Used as mixin */  {
  font-family: 'koowa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Styling the span element */
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;

  /* Styling the before element */
  &:before {
    font-family: 'koowa' !important;
    display: block;
    overflow: visible;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    background-size: cover; // For customer image background overrides
  }

  /* Hiding the i element */
  i {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  // Size variations
  &.koowa_icon--12 {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;

    &:before {
      width: 12px;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &.koowa_icon--24 {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;

    &:before {
      width: 24px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &.koowa_icon--48 {
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;

    &:before {
      width: 48px;
      height: 48px;
      font-size: 48px;
      line-height: 48px;
    }
  }
}

// Actual icons
.koowa_icon--default:before {
  content: "\e600";
}

.koowa_icon--image:before {
  content: "\e602";
}

.koowa_icon--video:before {
  content: "\e603";
}

.koowa_icon--archive:before {
  content: "\e601";
}

.koowa_icon--folder:before {
  content: "\e604";
}

.koowa_icon--pdf:before {
  content: "\e608";
}

.koowa_icon--audio:before {
  content: "\e60d";
}

.koowa_icon--document:before {
  content: "\e605";
}

.koowa_icon--spreadsheet:before {
  content: "\e606";
}

.koowa_icon--locked:before {
  content: "\e607";
}

.koowa_icon--unlocked:before {
  content: "\e609";
}

.koowa_icon--disabled:before {
  content: "\e60a";
}

.koowa_icon--enabled:before {
  content: "\e60b";
}

.koowa_icon--open:before {
  content: "\e60c";
}

.koowa_icon--close:before {
  content: "\e60e";
}

.koowa_icon--folder_open:before {
  content: "\e60f";
}

.koowa_icon--calendar:before {
  content: "\e610";
}

.koowa_icon--sort:before {
  content: "\e611";
}

.koowa_icon--caret_down:before {
  content: "\e612";
}

.koowa_icon--caret_up:before {
  content: "\e613";
}

.koowa_icon--caret_left:before {
  content: "\e614";
}

.koowa_icon--caret_right:before {
  content: "\e615";
}

.koowa_icon--sort_down:before {
  content: "\e616";
}

.koowa_icon--sort_up:before {
  content: "\e617";
}

.koowa_icon--menu:before {
  content: "\e618";
}

.koowa_icon--menu_open:before {
  content: "\e619";
}

.jqtree-tree {
  [class^="koowa_icon--"],
  [class*=" koowa_icon--"] {
    vertical-align: baseline;
    width: 13px;
    height: 13px;

    &:before {
      width: 13px;
      height: 13px;
      font-size: 13px;
      line-height: 13px;
    }
  }
  .icon-toggler {
    vertical-align: top;
  }
}

.old-ie {
  [class^="koowa_icon--"],
  [class*=" koowa_icon--"] {
    .koowa_icon--24 {
      width: 24px;
      height: 24px;

      &:before {
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
      }
    }

    .koowa_icon--48 {
      width: 48px;
      height: 48px;

      &:before {
        width: 48px;
        height: 48px;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}