/* Copyright (C) ZOOlanders.com - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

/*
 * Related Items Pro
 */
 

/* div.select-relateditems.pro li div.item-name {
	text-indent: 0;
	padding-left: 22px;
	max-width: 195px
} */

div.select-relateditems.pro li {
	width: 416px;
	position: relative;
}

	div.select-relateditems.pro li:hover span.item-tools {
		visibility: visible 
	}

	div.select-relateditems.pro li span.item-tools {
		position: absolute;
		right: 7px;
		top: 16px;
		visibility: hidden;
	}
	
	div.select-relateditems.pro li div.item-name {
		float: none;
	}

div.select-relateditems .item-info {
	margin-left: 18px;
}

	div.select-relateditems .item-info .zl-btn-small {
		float: left;
	}

div.select-relateditems li div.item-app,
div.select-relateditems li div.item-type {
	float: left;
	line-height: 18px;
	margin-right: 10px;
}