ul.gallery-thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: transparent;
  display: block;
  vertical-align: middle;
  @include box-sizing(border-box);

  * {
    @include box-sizing(border-box);
  }

  li {
    margin: 0 !important;
    padding: 10px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    min-width: 125px;
    max-width: 220px;
    font-size: inherit;
    line-height: inherit;

    .gallery-label {
      display: block;
      clear: both;
      padding: 5px 0 0;
      @include transition(all .2s ease-in-out);
      @include wrap_words();
    }

    .gallery-link {
      display: inline;
      margin: auto;
      text-decoration: none;
      max-width: 100%;
      height: auto;
    }

    .itemHover {
      border-color: hsla(191, 100%, 30%, .5);
      -webkit-box-shadow: hsla(0, 0%, 0%, 0) 0 -1px 0, hsla(0, 0%, 0%, 0) 0 1px 2px, hsla(191, 100%, 30%, .5) 0 0 3px;
      -moz-box-shadow: hsla(0, 0%, 0%, 0) 0 -1px 0, hsla(0, 0%, 0%, 0) 0 1px 2px, hsla(191, 100%, 30%, .5) 0 0 3px;
      box-shadow: hsla(0, 0%, 0%, 0) 0 -1px 0, hsla(0, 0%, 0%, 0) 0 1px 2px, hsla(191, 100%, 30%, .5) 0 0 3px;
    }

    &.gallery-folder,
    &.gallery-document {

      a {
        display: block;
        clear: both;
      }

      .gallery-content-box {
        display: block;
        position: relative;
        width: 100%;
        max-width: 250px;

        &:before {
          content: "";
          display: block;
          padding-top: 66%;
        }

        .gallery-content-box__content {
          display: block;
          background-color: #f5f5f5;
          background: #fff -webkit-radial-gradient(ellipse closest-corner, #fff, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1));
          background: #fff -moz-radial-gradient(ellipse closest-corner, #fff, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1));
          background: #fff -o-radial-gradient(ellipse closest-corner, #fff, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1));
          background: #fff -ms-radial-gradient(ellipse closest-corner, #fff, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1));
          background: #fff radial-gradient(ellipse closest-corner, #fff, rgba(255, 255, 255, 0.1) 1%, rgba(0, 0, 0, 0.1));
          border: 1px solid #ccc;
          vertical-align: middle;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          @include border-radius(5px);
          @include transition(all .2s ease-in-out);

          .gallery-content-box__content__inner {
            display: table;
            vertical-align: middle;
            width: 100%;
            height: 100%;

            .gallery-content-box__content__inner__alignment {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }

      a:hover {
        .gallery-content-box__content {
          @extend .itemHover;
          color: #333;
        }

        .gallery-label {
          background: inherit;
          color: inherit;
        }
      }
    }

    &.gallery-file {
      .gallery-thumbnail {
        display: inline-block;
        background-color: whitesmoke;
        border: 1px solid #ccc;
        padding: 5px;
        @include border-radius(5px);
        @include transition(all .2s ease-in-out);

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          @include border-radius(3px);
        }
      }

      a:hover {
        .gallery-thumbnail {
          @extend .itemHover;
        }

        .gallery-label {
          background: inherit;
          color: inherit;
        }
      }
    }
  }

  &.columns-2,
  &.columns-3,
  &.columns-4,
  &.columns-5,
  &.columns-6,
  &.columns-7,
  &.columns-8,
  &.columns-9,
  &.columns-10 {
    max-width: none;
  }

  &.columns-2 li {
    width: 50%;
  }

  &.columns-3 li {
    width: 33.3333333333333%;
  }

  &.columns-4 li {
    width: 25%;
  }

  &.columns-5 li {
    width: 20%;
  }

  &.columns-6 li {
    width: 16.6666666666667%;
  }
  &.columns-7 li {
    width: 14.28%;
  }
  &.columns-8 li {
    width: 12.5%;
  }
  &.columns-9 li {
    width: 11.1111111111111%;
  }
  &.columns-10 li {
    width: 10%;
  }
}