/*
Error: Undefined variable: "$fa-css-prefix".
        on line 4 of _icons.scss

1: /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
2:    readers do not read off random characters that represent icons *\/
3: 
4: .#{$fa-css-prefix}-glass:before { content: $fa-var-glass; }
5: .#{$fa-css-prefix}-music:before { content: $fa-var-music; }
6: .#{$fa-css-prefix}-search:before { content: $fa-var-search; }
7: .#{$fa-css-prefix}-envelope-o:before { content: $fa-var-envelope-o; }
8: .#{$fa-css-prefix}-heart:before { content: $fa-var-heart; }
9: .#{$fa-css-prefix}-star:before { content: $fa-var-star; }

Backtrace:
_icons.scss:4
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/interpolation.rb:100:in `_perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:520:in `block in run_interp_no_strip'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:518:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:518:in `run_interp_no_strip'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:525:in `run_interp'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:393:in `visit_rule'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/base.rb:40:in `parse'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/bin/scss:13:in `<top (required)>'
C:/Ruby200-x64/bin/scss:23:in `load'
C:/Ruby200-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$fa-css-prefix\".\A         on line 4 of _icons.scss\A \A 1: /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen\A 2:    readers do not read off random characters that represent icons */\A 3: \A 4: .#{$fa-css-prefix}-glass:before { content: $fa-var-glass; }\A 5: .#{$fa-css-prefix}-music:before { content: $fa-var-music; }\A 6: .#{$fa-css-prefix}-search:before { content: $fa-var-search; }\A 7: .#{$fa-css-prefix}-envelope-o:before { content: $fa-var-envelope-o; }\A 8: .#{$fa-css-prefix}-heart:before { content: $fa-var-heart; }\A 9: .#{$fa-css-prefix}-star:before { content: $fa-var-star; }"; }
